<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} PetFinder {% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://unpkg.com/jquery"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1 class="display-5">Login to access your PetFinder account.</h1>

    <form method="POST">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
      !='hidden' %}

      <p>{{ field.label }} {{ field(class_="form-control") }}</p>
      {% endfor %}

      <button class="btn btn-success" type="submit">Login</button>
    </form>
    {% endblock %}
  </body>
</html>
