{% extends 'index.html' %} {% block title %}Pets{% endblock %} {% block
content%}

<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Contact us to adopt {{ pet_info.animal.name }}!</h3>
    <p class="card-text"></p>
    {% if pet_info.animal.contact.address.address1 == None %}
    <p></p>
    {% else %}
    <p>
      <b>Address</b>: {{ pet_info.animal.contact.address.address1 }}, {{
      pet_info.animal.contact.address.city }}, {{
      pet_info.animal.contact.address.state }}, {{
      pet_info.animal.contact.address.postcode }}
    </p>
    {% endif %} {% if pet_info.animal.contact.phone == None %}
    <p></p>
    {% else %}
    <p><b>Phone</b>: {{ pet_info.animal.contact.phone }}</p>
    {% endif %} {% if pet_info.animal.contact.email == None %}
    <p></p>
    {% else %}
    <p><b>Email</b>: {{ pet_info.animal.contact.email }}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
